Connected Services/JobSearch/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfJob">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Job" nillable="true" type="tns:Job" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJob" nillable="true" type="tns:ArrayOfJob" />
  <xs:complexType name="Job">
    <xs:sequence>
      <xs:element minOccurs="0" name="employer_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="job_apply_link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="job_employment_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="job_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="job_location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="job_state" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="job_title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Job" nillable="true" type="tns:Job" />
</xs:schema>